<a href="https://colab.research.google.com/github/Praveena-TP-13/ML-assignment-2/blob/main/Compare_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Comapre Datasets**

In [6]:
# Import libraries
import pandas as pd

In [9]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [49]:
# Load the Datasets
# Read the content in the .csv file

# Define the data file paths
file_path_1 = '/content/drive/My Drive/ml_ass2_datasets/dataset1.csv'
file_path_2 = '/content/drive/My Drive/ml_ass2_datasets/dataset2.csv'
file_path_3 = '/content/drive/My Drive/ml_ass2_datasets/dataset3.csv'



# Read .csv files using pandas
df1 = pd.read_csv(file_path_1)
df2 = pd.read_csv(file_path_2)
df3 = pd.read_csv(file_path_3)

In [50]:
# Check missing values in datasets
for i, dataset in enumerate([df1, df2, df3], start=1):
    missing_values = dataset.isnull().sum()
    print(f"\nDataset {i} - Missing Values:\n{missing_values[missing_values > 0]}")

Dataset 1 - Missing Values:
Series([], dtype: int64)

Dataset 2 - Missing Values:
Series([], dtype: int64)

Dataset 3 - Missing Values:
Gender              13
Married              3
Dependents          15
Self_Employed       32
LoanAmount          22
Loan_Amount_Term    14
Credit_History      50
dtype: int64

In [51]:
# Missing values as percentages in datasets
for i, dataset in enumerate([df1, df2, df3], start=1):
    missing_values_percent = (dataset.isnull().sum() / len(dataset)) * 100
    print(f"\nDataset {i} - Missing Values (%):\n{missing_values_percent[missing_values_percent > 0]}")

Dataset 1 - Missing Values (%):
Series([], dtype: float64)

Dataset 2 - Missing Values (%):
Series([], dtype: float64)

Dataset 3 - Missing Values (%):
Gender              2.117264
Married             0.488599
Dependents          2.442997
Self_Employed       5.211726
LoanAmount          3.583062
Loan_Amount_Term    2.280130
Credit_History      8.143322
dtype: float64

In [52]:
# Function to detect outliers (using IQR for numerical columns)
def detect_outliers(df):
    outliers = {}
    for column in df.select_dtypes(include=['float64', 'int64']).columns:
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        outliers_count = ((df[column] < (Q1 - 1.5 * IQR)) | (df[column] > (Q3 + 1.5 * IQR))).sum()
        outliers[column] = outliers_count
    return outliers

# Check for outliers in each dataset
for i, dataset in enumerate([df1, df2, df3], start=1):
    outliers = detect_outliers(dataset)
    print(f"\nDataset {i} - Outliers:\n{outliers}")

Dataset 1 - Outliers:
{'Applicant_ID': 0, 'Annual_Income': 0, 'Applicant_Age': 0, 'Work_Experience': 0, 'Years_in_Current_Employment': 0, 'Years_in_Current_Residence': 0, 'Loan_Default_Risk': 12997}

Dataset 2 - Outliers:
{'loan_id': 0, ' no_of_dependents': 0, ' income_annum': 0, ' loan_amount': 0, ' loan_term': 0, ' cibil_score': 0, ' residential_assets_value': 52, ' commercial_assets_value': 37, ' luxury_assets_value': 0, ' bank_asset_value': 5}

Dataset 3 - Outliers:
{'ApplicantIncome': 50, 'CoapplicantIncome': 18, 'LoanAmount': 39, 'Loan_Amount_Term': 88, 'Credit_History': 89}

In [53]:
# Check the number of rows and columns in each dataset
for i, dataset in enumerate([df1, df2, df3], start=1):
    print(f"\nDataset {i} - Size: {dataset.shape[0]} rows, {dataset.shape[1]} columns")

Dataset 1 - Size: 100000 rows, 13 columns

Dataset 2 - Size: 4269 rows, 13 columns

Dataset 3 - Size: 614 rows, 13 columns

In [54]:
# print("Columns in df2:", df2.columns.tolist())
# print("Unique columns in df2:", df2.columns.unique())

# print("First few rows of df2:")
# print(df2.head())

In [55]:
# if 'loan_status' in df2.columns:
#     target_counts_df2 = df2['loan_status'].value_counts(normalize=True) * 100
#     print("\nDataset 2 - Class Balance:")
#     print(target_counts_df2)
# else:
#     print("Column 'loan_status' not found in df2.")

In [57]:
# if 'loan_status' in df2.columns:
#     df2.rename(columns={'loan_status': 'loan_status'}, inplace=True)
#     print("Renamed column 'loan_status' to 'loan_status' in df2.")
# else:
#     print("'loan_status' column not found in df2. No renaming performed.")

'loan_status' column not found in df2. No renaming performed.

In [59]:
# remove any leading or trailing whitespace from the column names
df2.columns = df2.columns.str.strip()

In [46]:
# Check class balance in each dataset
# print(df1.columns)
# print(df2.columns)
# print(df3.columns)

# Class balance for df1
target_counts_df1 = df1['Loan_Default_Risk'].value_counts(normalize=True) * 100
print("Dataset 1 - Class Balance:")
print(target_counts_df1)

# Class balance for df2
# Check if 'loan_status' column exists, if not, try other possible names
if 'loan_status' in df2.columns:
    target_counts_df2 = df2['loan_status'].value_counts(normalize=True) * 100
else:
    # Try variations like 'Loan_Status' or 'loanStatus'
    possible_names = ['Loan_Status', 'loanStatus', 'Loan Status', 'loan_status']
    for name in possible_names:
        if name in df2.columns:
            target_counts_df2 = df2[name].value_counts(normalize=True) * 100
            print(f"Using column name '{name}' for df2 class balance.")
            break
    else:
        raise KeyError(f"None of the possible column names found in df2: {possible_names}")

print("\nDataset 2 - Class Balance:")
print(target_counts_df2)

# Class balance for df3
target_counts_df3 = df3['Loan_Status'].value_counts(normalize=True) * 100
print("\nDataset 3 - Class Balance:")
print(target_counts_df3)

Dataset 1 - Class Balance:
Loan_Default_Risk
0    87.003
1    12.997
Name: proportion, dtype: float64

Dataset 2 - Class Balance:
loan_status
Approved    62.215976
Rejected    37.784024
Name: proportion, dtype: float64

Dataset 3 - Class Balance:
Loan_Status
Y    68.729642
N    31.270358
Name: proportion, dtype: float64

In [61]:
# Display columns and data types for each dataset
for i, dataset in enumerate([df1, df2, df3], start=1):
    print(f"\nDataset {i} - Columns and Data Types:\n{dataset.dtypes}")

Dataset 1 - Columns and Data Types:
Applicant_ID                    int64
Annual_Income                   int64
Applicant_Age                   int64
Work_Experience                 int64
Marital_Status                 object
House_Ownership                object
Vehicle_Ownership(car)         object
Occupation                     object
Residence_City                 object
Residence_State                object
Years_in_Current_Employment     int64
Years_in_Current_Residence      int64
Loan_Default_Risk               int64
dtype: object

Dataset 2 - Columns and Data Types:
loan_id                      int64
no_of_dependents             int64
education                   object
self_employed               object
income_annum                 int64
loan_amount                  int64
loan_term                    int64
cibil_score                  int64
residential_assets_value     int64
commercial_assets_value      int64
luxury_assets_value          int64
bank_asset_value             int64
loan_status                 object
dtype: object

Dataset 3 - Columns and Data Types:
Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [20]:
def compare_datasets(datasets, target_column):
    for i, dataset in enumerate(datasets, start=1):
        print(f"\n---- Dataset {i} ----")

        # Size and Missing Values
        print(f"Size: {dataset.shape[0]} rows, {dataset.shape[1]} columns")
        missing_values = dataset.isnull().sum()
        print("Missing Values:\n", missing_values[missing_values > 0])

        # Class Balance
        if target_column in dataset.columns:
            target_counts = dataset[target_column].value_counts(normalize=True) * 100
            print(f"Class Balance:\n{target_counts}")

        # Outliers
        outliers = detect_outliers(dataset)
        print("Outliers:\n", {k: v for k, v in outliers.items() if v > 0})

        # Feature Overview
        print("Columns and Data Types:\n", dataset.dtypes)
        print("Basic Statistics:\n", dataset.describe(include='all'))

# Call the function with the datasets and target column
compare_datasets([df1, df2, df3], target_column='Loan_Status')

---- Dataset 1 ----
Size: 100000 rows, 13 columns
Missing Values:
 Series([], dtype: int64)
Outliers:
 {'Loan_Default_Risk': 12997}
Columns and Data Types:
 Applicant_ID                    int64
Annual_Income                   int64
Applicant_Age                   int64
Work_Experience                 int64
Marital_Status                 object
House_Ownership                object
Vehicle_Ownership(car)         object
Occupation                     object
Residence_City                 object
Residence_State                object
Years_in_Current_Employment     int64
Years_in_Current_Residence      int64
Loan_Default_Risk               int64
dtype: object
Basic Statistics:
          Applicant_ID  Annual_Income  Applicant_Age  Work_Experience  \
count   100000.000000   1.000000e+05  100000.000000    100000.000000
unique            NaN            NaN            NaN              NaN
top               NaN            NaN            NaN              NaN
freq              NaN            NaN            NaN              NaN
mean     50000.500000   5.001617e+06      49.995400        10.110750
std      28867.657797   2.876394e+06      17.056051         5.996007
min          1.000000   1.031000e+04      21.000000         0.000000
25%      25000.750000   2.507092e+06      35.000000         5.000000
50%      50000.500000   5.004938e+06      50.000000        10.000000
75%      75000.250000   7.477502e+06      65.000000        15.000000
max     100000.000000   9.999180e+06      79.000000        20.000000

       Marital_Status House_Ownership Vehicle_Ownership(car) Occupation  \
count          100000          100000                 100000     100000
unique              2               3                      2         51
top            single          rented                     no  Physician
freq            89763           92088                  69665       2426
mean              NaN             NaN                    NaN        NaN
std               NaN             NaN                    NaN        NaN
min               NaN             NaN                    NaN        NaN
25%               NaN             NaN                    NaN        NaN
50%               NaN             NaN                    NaN        NaN
75%               NaN             NaN                    NaN        NaN
max               NaN             NaN                    NaN        NaN

       Residence_City Residence_State  Years_in_Current_Employment  \
count          100000          100000                100000.000000
unique            317              29                          NaN
top     Vijayanagaram   Uttar_Pradesh                          NaN
freq              519           11255                          NaN
mean              NaN             NaN                     6.342990
std               NaN             NaN                     3.644942
min               NaN             NaN                     0.000000
25%               NaN             NaN                     4.000000
50%               NaN             NaN                     6.000000
75%               NaN             NaN                     9.000000
max               NaN             NaN                    14.000000

        Years_in_Current_Residence  Loan_Default_Risk
count                100000.000000      100000.000000
unique                         NaN                NaN
top                            NaN                NaN
freq                           NaN                NaN
mean                     11.996020           0.129970
std                       1.396826           0.336272
min                      10.000000           0.000000
25%                      11.000000           0.000000
50%                      12.000000           0.000000
75%                      13.000000           0.000000
max                      14.000000           1.000000

---- Dataset 2 ----
Size: 4269 rows, 13 columns
Missing Values:
 Series([], dtype: int64)
Outliers:
 {' residential_assets_value': 52, ' commercial_assets_value': 37, ' bank_asset_value': 5}
Columns and Data Types:
 loan_id                       int64
 no_of_dependents             int64
 education                   object
 self_employed               object
 income_annum                 int64
 loan_amount                  int64
 loan_term                    int64
 cibil_score                  int64
 residential_assets_value     int64
 commercial_assets_value      int64
 luxury_assets_value          int64
 bank_asset_value             int64
 loan_status                 object
dtype: object
Basic Statistics:
             loan_id   no_of_dependents  education  self_employed  \
count   4269.000000        4269.000000       4269           4269
unique          NaN                NaN          2              2
top             NaN                NaN   Graduate            Yes
freq            NaN                NaN       2144           2150
mean    2135.000000           2.498712        NaN            NaN
std     1232.498479           1.695910        NaN            NaN
min        1.000000           0.000000        NaN            NaN
25%     1068.000000           1.000000        NaN            NaN
50%     2135.000000           3.000000        NaN            NaN
75%     3202.000000           4.000000        NaN            NaN
max     4269.000000           5.000000        NaN            NaN

         income_annum   loan_amount    loan_term   cibil_score  \
count    4.269000e+03  4.269000e+03  4269.000000   4269.000000
unique            NaN           NaN          NaN           NaN
top               NaN           NaN          NaN           NaN
freq              NaN           NaN          NaN           NaN
mean     5.059124e+06  1.513345e+07    10.900445    599.936051
std      2.806840e+06  9.043363e+06     5.709187    172.430401
min      2.000000e+05  3.000000e+05     2.000000    300.000000
25%      2.700000e+06  7.700000e+06     6.000000    453.000000
50%      5.100000e+06  1.450000e+07    10.000000    600.000000
75%      7.500000e+06  2.150000e+07    16.000000    748.000000
max      9.900000e+06  3.950000e+07    20.000000    900.000000

         residential_assets_value   commercial_assets_value  \
count                4.269000e+03              4.269000e+03
unique                        NaN                       NaN
top                           NaN                       NaN
freq                          NaN                       NaN
mean                 7.472617e+06              4.973155e+06
std                  6.503637e+06              4.388966e+06
min                 -1.000000e+05              0.000000e+00
25%                  2.200000e+06              1.300000e+06
50%                  5.600000e+06              3.700000e+06
75%                  1.130000e+07              7.600000e+06
max                  2.910000e+07              1.940000e+07

         luxury_assets_value   bank_asset_value  loan_status
count           4.269000e+03       4.269000e+03         4269
unique                   NaN                NaN            2
top                      NaN                NaN     Approved
freq                     NaN                NaN         2656
mean            1.512631e+07       4.976692e+06          NaN
std             9.103754e+06       3.250185e+06          NaN
min             3.000000e+05       0.000000e+00          NaN
25%             7.500000e+06       2.300000e+06          NaN
50%             1.460000e+07       4.600000e+06          NaN
75%             2.170000e+07       7.100000e+06          NaN
max             3.920000e+07       1.470000e+07          NaN

---- Dataset 3 ----
Size: 614 rows, 13 columns
Missing Values:
 Gender              13
Married              3
Dependents          15
Self_Employed       32
LoanAmount          22
Loan_Amount_Term    14
Credit_History      50
dtype: int64
Class Balance:
Loan_Status
Y    68.729642
N    31.270358
Name: proportion, dtype: float64
Outliers:
 {'ApplicantIncome': 50, 'CoapplicantIncome': 18, 'LoanAmount': 39, 'Loan_Amount_Term': 88, 'Credit_History': 89}
Columns and Data Types:
 Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object
Basic Statistics:
          Loan_ID Gender Married Dependents Education Self_Employed  \
count        614    601     611        599       614           582
unique       614      2       2          4         2             2
top     LP001002   Male     Yes          0  Graduate            No
freq           1    489     398        345       480           500
mean         NaN    NaN     NaN        NaN       NaN           NaN
std          NaN    NaN     NaN        NaN       NaN           NaN
min          NaN    NaN     NaN        NaN       NaN           NaN
25%          NaN    NaN     NaN        NaN       NaN           NaN
50%          NaN    NaN     NaN        NaN       NaN           NaN
75%          NaN    NaN     NaN        NaN       NaN           NaN
max          NaN    NaN     NaN        NaN       NaN           NaN

        ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
count        614.000000         614.000000  592.000000         600.00000
unique              NaN                NaN         NaN               NaN
top                 NaN                NaN         NaN               NaN
freq                NaN                NaN         NaN               NaN
mean        5403.459283        1621.245798  146.412162         342.00000
std         6109.041673        2926.248369   85.587325          65.12041
min          150.000000           0.000000    9.000000          12.00000
25%         2877.500000           0.000000  100.000000         360.00000
50%         3812.500000        1188.500000  128.000000         360.00000
75%         5795.000000        2297.250000  168.000000         360.00000
max        81000.000000       41667.000000  700.000000         480.00000

        Credit_History Property_Area Loan_Status
count       564.000000           614         614
unique             NaN             3           2
top                NaN     Semiurban           Y
freq               NaN           233         422
mean          0.842199           NaN         NaN
std           0.364878           NaN         NaN
min           0.000000           NaN         NaN
25%           1.000000           NaN         NaN
50%           1.000000           NaN         NaN
75%           1.000000           NaN         NaN
max           1.000000           NaN         NaN

In [19]:
# Display basic statistics for each dataset
for i, dataset in enumerate([df1, df2, df3], start=1):
    print(f"\nDataset {i} - Basic Statistics:\n{dataset.describe(include='all')}")

Dataset 1 - Basic Statistics:
         Applicant_ID  Annual_Income  Applicant_Age  Work_Experience  \
count   100000.000000   1.000000e+05  100000.000000    100000.000000
unique            NaN            NaN            NaN              NaN
top               NaN            NaN            NaN              NaN
freq              NaN            NaN            NaN              NaN
mean     50000.500000   5.001617e+06      49.995400        10.110750
std      28867.657797   2.876394e+06      17.056051         5.996007
min          1.000000   1.031000e+04      21.000000         0.000000
25%      25000.750000   2.507092e+06      35.000000         5.000000
50%      50000.500000   5.004938e+06      50.000000        10.000000
75%      75000.250000   7.477502e+06      65.000000        15.000000
max     100000.000000   9.999180e+06      79.000000        20.000000

       Marital_Status House_Ownership Vehicle_Ownership(car) Occupation  \
count          100000          100000                 100000     100000
unique              2               3                      2         51
top            single          rented                     no  Physician
freq            89763           92088                  69665       2426
mean              NaN             NaN                    NaN        NaN
std               NaN             NaN                    NaN        NaN
min               NaN             NaN                    NaN        NaN
25%               NaN             NaN                    NaN        NaN
50%               NaN             NaN                    NaN        NaN
75%               NaN             NaN                    NaN        NaN
max               NaN             NaN                    NaN        NaN

       Residence_City Residence_State  Years_in_Current_Employment  \
count          100000          100000                100000.000000
unique            317              29                          NaN
top     Vijayanagaram   Uttar_Pradesh                          NaN
freq              519           11255                          NaN
mean              NaN             NaN                     6.342990
std               NaN             NaN                     3.644942
min               NaN             NaN                     0.000000
25%               NaN             NaN                     4.000000
50%               NaN             NaN                     6.000000
75%               NaN             NaN                     9.000000
max               NaN             NaN                    14.000000

        Years_in_Current_Residence  Loan_Default_Risk
count                100000.000000      100000.000000
unique                         NaN                NaN
top                            NaN                NaN
freq                           NaN                NaN
mean                     11.996020           0.129970
std                       1.396826           0.336272
min                      10.000000           0.000000
25%                      11.000000           0.000000
50%                      12.000000           0.000000
75%                      13.000000           0.000000
max                      14.000000           1.000000

Dataset 2 - Basic Statistics:
            loan_id   no_of_dependents  education  self_employed  \
count   4269.000000        4269.000000       4269           4269
unique          NaN                NaN          2              2
top             NaN                NaN   Graduate            Yes
freq            NaN                NaN       2144           2150
mean    2135.000000           2.498712        NaN            NaN
std     1232.498479           1.695910        NaN            NaN
min        1.000000           0.000000        NaN            NaN
25%     1068.000000           1.000000        NaN            NaN
50%     2135.000000           3.000000        NaN            NaN
75%     3202.000000           4.000000        NaN            NaN
max     4269.000000           5.000000        NaN            NaN

         income_annum   loan_amount    loan_term   cibil_score  \
count    4.269000e+03  4.269000e+03  4269.000000   4269.000000
unique            NaN           NaN          NaN           NaN
top               NaN           NaN          NaN           NaN
freq              NaN           NaN          NaN           NaN
mean     5.059124e+06  1.513345e+07    10.900445    599.936051
std      2.806840e+06  9.043363e+06     5.709187    172.430401
min      2.000000e+05  3.000000e+05     2.000000    300.000000
25%      2.700000e+06  7.700000e+06     6.000000    453.000000
50%      5.100000e+06  1.450000e+07    10.000000    600.000000
75%      7.500000e+06  2.150000e+07    16.000000    748.000000
max      9.900000e+06  3.950000e+07    20.000000    900.000000

         residential_assets_value   commercial_assets_value  \
count                4.269000e+03              4.269000e+03
unique                        NaN                       NaN
top                           NaN                       NaN
freq                          NaN                       NaN
mean                 7.472617e+06              4.973155e+06
std                  6.503637e+06              4.388966e+06
min                 -1.000000e+05              0.000000e+00
25%                  2.200000e+06              1.300000e+06
50%                  5.600000e+06              3.700000e+06
75%                  1.130000e+07              7.600000e+06
max                  2.910000e+07              1.940000e+07

         luxury_assets_value   bank_asset_value  loan_status
count           4.269000e+03       4.269000e+03         4269
unique                   NaN                NaN            2
top                      NaN                NaN     Approved
freq                     NaN                NaN         2656
mean            1.512631e+07       4.976692e+06          NaN
std             9.103754e+06       3.250185e+06          NaN
min             3.000000e+05       0.000000e+00          NaN
25%             7.500000e+06       2.300000e+06          NaN
50%             1.460000e+07       4.600000e+06          NaN
75%             2.170000e+07       7.100000e+06          NaN
max             3.920000e+07       1.470000e+07          NaN

Dataset 3 - Basic Statistics:
         Loan_ID Gender Married Dependents Education Self_Employed  \
count        614    601     611        599       614           582
unique       614      2       2          4         2             2
top     LP001002   Male     Yes          0  Graduate            No
freq           1    489     398        345       480           500
mean         NaN    NaN     NaN        NaN       NaN           NaN
std          NaN    NaN     NaN        NaN       NaN           NaN
min          NaN    NaN     NaN        NaN       NaN           NaN
25%          NaN    NaN     NaN        NaN       NaN           NaN
50%          NaN    NaN     NaN        NaN       NaN           NaN
75%          NaN    NaN     NaN        NaN       NaN           NaN
max          NaN    NaN     NaN        NaN       NaN           NaN

        ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
count        614.000000         614.000000  592.000000         600.00000
unique              NaN                NaN         NaN               NaN
top                 NaN                NaN         NaN               NaN
freq                NaN                NaN         NaN               NaN
mean        5403.459283        1621.245798  146.412162         342.00000
std         6109.041673        2926.248369   85.587325          65.12041
min          150.000000           0.000000    9.000000          12.00000
25%         2877.500000           0.000000  100.000000         360.00000
50%         3812.500000        1188.500000  128.000000         360.00000
75%         5795.000000        2297.250000  168.000000         360.00000
max        81000.000000       41667.000000  700.000000         480.00000

        Credit_History Property_Area Loan_Status
count       564.000000           614         614
unique             NaN             3           2
top                NaN     Semiurban           Y
freq               NaN           233         422
mean          0.842199           NaN         NaN
std           0.364878           NaN         NaN
min           0.000000           NaN         NaN
25%           1.000000           NaN         NaN
50%           1.000000           NaN         NaN
75%           1.000000           NaN         NaN
max           1.000000           NaN         NaN

# New Section